
# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.env.*

# Django
media/
staticfiles/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# Docker
**/.dockerignore

# IDE
.vscode/
.idea/

# MySQL
*.sql
*.dump
