<section class="about section" id="a-propos">
  <div class="section__inner about__grid">
    <div class="about__text">
      <div class="about__accent-bar"></div>
      <h2 class="about__heading">{{ about.heading }}</h2>
      <p class="about__body">{{ about.body }}</p>
      <a class="btn-primary about__cta" routerLink="/notre-histoire">
        {{ about.cta }}
      </a>
    </div>

    <div class="about__image-wrap">
      @if (aboutImage(); as img) {
        <div class="about__image-frame">
          <img
            class="about__image"
            [ngSrc]="img.url"
            [alt]="img.alt_text || img.title"
            width="600"
            height="450"
          />
        </div>
      } @else {
        <div class="about__image-placeholder"></div>
      }
    </div>
  </div>
</section>
